<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prueba.lgramir.Gazpchos" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".FruitDayGazpachoActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".FruitDayFruitActivity"
            android:label="@string/app_name"
        >
        </activity>

        <activity
            android:name=".PriceGazpachoActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".PriceFruitActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".LanguageActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".ChoiceProductActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".IngredientsGazpachoActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".IngredientsFruitActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SizeGazpachoActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SizeFruitActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TakeawayActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".OrderActivity"
            android:label="@string/app_name" >
        </activity>

/************************ENGLISH***********************************************/

        <activity
            android:name=".ChoiceProductEnglishActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".IngredientsGazpachoEnglishActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".IngredientsFruitEnglishActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SizeGazpachoEnglishActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SizeFruitEnglishActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TakeawayEnglishActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".OrderEnglishActivity"
            android:label="@string/app_name" >
        </activity>

        /************************FRENCH***********************************************/

        <activity
            android:name=".ChoiceProductFrenchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".IngredientsGazpachoFrenchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".IngredientsFruitFrenchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SizeGazpachoFrenchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".SizeFruitFrenchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TakeawayFrenchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".OrderFrenchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name="com.prueba.lgramir.Gazpchos.UsbConnectActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>